
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --color-primary: #f76c5e;
    --color-secondary: #f68e5f;
    --color-tertiary: #ce9d87;
}
h1{
    margin: 20px;
    font-size: 60px;
    font-weight: 900;
    color: var(--color-primary);
}
h2{
    color: var(--color-secondary);
    margin: 20px; 
    font-size: 40px;
    font-weight: 600;
}
h3{
    margin: 20px;
    font-size: 30px;
    font-weight: 400;
    color: var(--color-tertiary);


}
input[type='radio']
{
     filter: grayscale(1);
}
input[type='text'],input[type='email']{
    width: 100%;
    margin-left: 1px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 600;
    color: var(--color-primary);
}
input[type='text']::placeholder,input[type='email']::placeholder{
    color: var(--color-secondary);
    opacity: 50%;
}
button{
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: var(--color-secondary);
    background-color: white;

}
button:hover{
    color: var(--color-primary);
    background-color: var(--color-tertiary);
    cursor: pointer;
}
button:focus{
    background-color: var(--color-tertiary);
    border: 3px solid var(--color-primary);
    padding: 2px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    width: 50%;
    min-width: 200px;
    margin-bottom: 60px;
    padding: 100px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-radius: 30px;
    background-color: var(--color-secondary);
}
footer{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    background-color: var(--color-secondary);
}
.optionSource
{
    margin: 30px;
}
.optionSource p{
    font-size: 20px;
    margin-bottom: 15px;
}
.optionSource input[type='radio']:not(:first-child)
{
    margin-left: 20px;
}
.zoneProposition{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0 15px 0;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    color: var(--color-secondary);
    font-size: 30px;
    font-weight: 600;
}
.zoneSaisire
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}
.zoneSaisire input[type='text']
{
    width: 78%;
}
.zoneSaisire button{
    width: 20%;
}
.zoneScore {
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    main {
        width: 60%;
        padding: 30px;
    }
}


/* En dessous de 800 px */
@media screen and (max-width: 800px) {
    main {
        width: 90%;
        padding: 10px;
    }
}
